/*****
*
* general style-sheet for universities worldwide
* $Id: common.css 173 2011-08-15 14:58:01Z klaus $
*
*****/

body { 
    font-family:Verdana,Utopia,Arial;
}
a:visited { color:navy; }


header {
    display: block;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
header img {
    border:none;
}
header h1,h3 {
    margin-top:0.1em;
    margin-bottom:0.1em;
}

#content {
    width:70%;
    margin-left:auto;
    margin-right:auto;
    border-top:1px solid silver;
    border-bottom:1px solid silver;
}
#content table {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    border:1px solid silver;
}
#content h4 {
    text-align:center;
}
#content .fixedWidth {
    width:640px;
}
#content .align-right  {
    text-align:right;
}
#content .align-top-right  {
    vertical-align:top;
    text-align:right;
}
#content .submit {
    background-color:green;
    color:white;
    font-weight:bold;
}
#content .reset {
    background-color:navy;
    color:white;
    font-weight:bold;
}
#content .flag {
    float:right;
    border:1px solid silver;
    height: 35px;
}
#content nav {
    display: block;
    text-align:center;
}
.resultNavigation {
    font-size: 95%;
}
.navigation {
    font-weight: bold;
    margin: 1.33em 0 1.33em 0;
}

footer {
    display: block;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-size:90%;
}
footer img {
    border:none;
}
footer .icons {
    float:right;
    border:none;
}

aside {
    display: block;
}
.google728x90 {
    margin-top:10px;
    text-align:center;
}
